  <div id="hello">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2 centered">
            <h1>Kombustion 2.0</h1>
            <h2>Save money with preventative maintenance</h2>
          </div><!-- /col-lg-8 -->
        </div><!-- /row -->
      </div> <!-- /container -->
  </div><!-- /hello -->
  
  <div id="green">
    <div class="container">
      <div class="row">
        <div class="col-lg-5 centered">
          <%= image_tag("iphone.png") %>
        </div>
        
        <div class="col-lg-7 centered">
          <h3>WHAT IS IT?</h3>
          <p>A handy tool to track all your gas and maintenance items with your vehicle. Quickly update Kombustion with your current mileage and Kombustion will notify you when a new service is due now, or soon. Kombustion will also track spending habits on your vehicle and see what your vehicle has been costing you.</p>
        </div>
      </div>
    </div>
  </div>
  
  <div class="container">
    <div class="row centered mt grid">
      <h3>KOMBUSTION SCREENSHOTS</h3>
      <div class="mt"></div>
      <div class="col-lg-4">
        <%= image_tag("01.jpg") %>
      </div>
      <div class="col-lg-4">
      <%= image_tag("02.jpg") %>
      </div>
      <div class="col-lg-4">
      <%= image_tag("03.jpg") %>
      </div>
    </div>
    
    <div class="row centered mt grid">
      <div class="mt"></div>    
      <div class="col-lg-4">
      <%= image_tag("04.jpg") %>
      </div>
      <div class="col-lg-4">
      <%= image_tag("05.jpg") %>
      </div>
      <div class="col-lg-4">
      <%= image_tag("06.jpg") %>
      </div>
    </div>
    
    <div class="row mt centered">
      <div class="col-lg-7 col-lg-offset-1 mt">
          <p class="lead">Are you interested? Sign up for a free account now and get started. Start saving money and your vehicle now. </p>
      </div>
      
      <div class="col-lg-3 mt">
      <p><%= link_to "Sign Up!", new_user_registration_path, class:"btn btn-theme btn-lg" %></p>
      </div>
    </div>
  </div>


  <div id="skills">
    <div class="container">
      <div class="row centered">
        <h3>SOME FACTS</h3>
        <div class="col-lg-3 mt">
        </div>
      </div><!-- /row -->
    </div><!-- /container -->
  </div><!-- /skills -->
  
  <section id="contact"></section>
  <div id="social">
    <div class="container">
      <div class="row centered">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="col-md-3">
            <a href="#"><i class="fa fa-facebook"></i></a>
          </div>
          <div class="col-md-3">
            <a href="#"><i class="fa fa-dribbble"></i></a>
          </div>
          <div class="col-md-3">
            <a href="#"><i class="fa fa-twitter"></i></a>
          </div>
          <div class="col-md-3">
            <a href="#"><i class="fa fa-envelope"></i></a>
          </div>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /social -->
