<div id="vehicle-<%= vehicle.id %>">  
<div class="col-lg-3 col-md-6">
      <div id="vehicle-widget" class="vehicle">
         <div class="panel-heading text-center">
            <h2 class="text-uppercase"><strong><%= vehicle.nickname %></strong></h2>
         </div>
         <div class="panel-heading text-center">
            <%= vehicle.year %> <%= vehicle.make %> <%= vehicle.model %>
         </div>
         <div class="panel-body">
            <p class="text-align:center;">Quick Update</p>
            <%= form_tag new_update_path, method: :get do %>
               <%= hidden_field :vehicle_id, vehicle.id %>
              <%= select_tag :service_id, options_from_collection_for_select(Service.all, :id, :name) %>
              <%= submit_tag "New Update", name: nil %>
            <% end %>
         </div>
         <div class="vehicle-footer">
            <div class="btn-group btn-group-justified text-uppercase text-center">
               <%= link_to vehicle, :class => "btn btn-default" do %><i class="fa fa-history fa-2x"></i><br><small>Information</small><% end %>
            </div>
         </div>
      </div>
    </div>
</div>