<!DOCTYPE html>
<html>
<head>
  <title>Kombustion2.0</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Lato:300,400,700,900' %>
  <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,300,700,900' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <%= render 'layouts/navbar' %>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <%= yield %>

  <%= render 'layouts/footer' %>

</body>
</html>
